<!--
including header content which is common for all pages
-->

<% if (admin == 'Y') { %>
	<%- include ../layouts/adminheader.ejs %>
<% } else { %>
	<%- include ../layouts/header.ejs %>
<% } %>	

<% if ( expressFlash.length > 0 ) { %>
	<p style="color:green" "font-size:15px"><%- expressFlash %></p>
<% } %>	

<table width='50%' border=1 style="border-collapse: collapse;">

	<tr style='text-align:left; background-color:#ffbf80'; height=50px>
		<th>Name</th>
		<th>User ID</th>
		<th>Password</th>		
		<th>Email</th>
		<th>Mobile</th>	
	</tr>	
	<% if (data) { %>
	<% data.forEach(function(bpl_user){ %>
		<tr style=nth-child(even){background-color: #4CAF50;}>
			<td><%= bpl_user.NAME %></td>
			<td><%= bpl_user.USER_ID %></td>
			<td><%= bpl_user.PASSWORD %></td>
			<td><%= bpl_user.EMAIL %></td>
			<td><%= bpl_user.PHONE %></td>
		</tr>
	<% }) %>
	<% } %>
</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
