<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if ( expressFlash.length > 0 ) { %>
	<p style="color:green"><%- expressFlash %></p>
<% } %>	

<table width='80%' border=1 style="border-collapse: collapse;">

	<tr style='text-align:left; background-color:#92a8d1'; height=50px>
		<th>Match No</th>
		<th>Date</th>
		<th>Description</th>
		<th>Venue</th>
		<th>Winner</th>
	</tr>	
	<% if (data) { %>
	<% data.forEach(function(bpl_match){ %>
		<tr>
			<td><%= bpl_match.ID %></td>
			<td><%= bpl_match.MATCH_DATE %></td>
			<td><%= bpl_match.DESCRIPTION %></td>
			<td><%= bpl_match.VENUE %></td>
			<%if (bpl_match.FREEZED != "Y") { %>
				<td>				
					<form role="form" id="createAccountForm" action="/options/update/<%= bpl_match.ID %>" method="POST">
						<div class="form-group" id="gender">
							<label class="radio-inline"><input type="radio" name="optradio" checked="checked" value=<%=bpl_match.TEAM1 %>><%=bpl_match.TEAM1 %></label>
							<label class="radio-inline"><input type="radio" name="optradio" value=<%=bpl_match.TEAM2 %>><%=bpl_match.TEAM2 %></label>
							<input type="submit" class="btn btn-success"/>
							
						</div>
						
					</form>
				</td>
			<% } else{ %>
			   <td><%= bpl_match.RESULT %></td>	
			<% } %>
			<!--<% if (admin == 'Y') { %>
				<input type="submit" value="Admin" />
			<% } %>-->
		</tr>
	<% }) %>
	<% } %>
</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
