<!--
including header content which is common for all pages
-->

<% if (admin == 'Y') { %>
	<%- include ../layouts/adminheader.ejs %>
<% } else { %>
	<%- include ../layouts/header.ejs %>
<% } %>	

<% if ( expressFlash.length > 0 ) { %>
	<p style="color:green" "font-size:15px"><%- expressFlash %></p>
<% } %>	
<form role="form" id="createAccountForm" action="/options/update" method="POST">

<table width='60%' border=2 style="border-collapse: collapse;">
	
	<tr style='text-align:left; background-color:#92a8d1';>
		<th>Match No</th>
		<th>Match Date</th>
		<th>Venue</th>			
		<th>Winner             <input type="submit" class="btn btn-success"/></th>
		<th>My Choice</th>	
		<th>Last Updated</th>
	</tr>	
	<% if (data) { %>
	<% data.forEach(function(bpl_match){ %>
		<tr>
			<td><%= bpl_match.ID %></td>
			<td><%= bpl_match.MATCH_DATE %></td>
			<td><%= bpl_match.VENUE %></td>					
			<%if (bpl_match.FREEZED != "Y") { %>
				<td>			
						<div class="form-group" id="gender">
							<label class="radio-inline"><input type="radio" name="match_<%= bpl_match.ID %>" value=<%=bpl_match.TEAM1 %>><%=bpl_match.TEAM1 %></label>
							<label class="radio-inline"><input type="radio" name="match_<%= bpl_match.ID %>" value=<%=bpl_match.TEAM2 %>><%=bpl_match.TEAM2 %></label>											
						</div>					
				</td>
			<% } else{ %>
			   <td><%= bpl_match.RESULT %></td>	
			<% } %>
			<!--<% if (admin == 'Y') { %>
				<input type="submit" value="Admin" />
			<% } %>-->
			<td><%= bpl_match.TEAM_NAME %></td>	
			<td><%= bpl_match.LAST_UPDATED_TIME %></td>
		</tr>
	<% }) %>
	<% } %>
</table>
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
