<!--
including header content which is common for all pages
-->
<% if (admin == 'Y') { %>
	<%- include ../layouts/adminheader.ejs %>
<% } else { %>
	<%- include ../layouts/header.ejs %>
<% } %>	

<% if ( expressFlash.length > 0 ) { %>
	<p style="color:green" "font-size:40px"><%- expressFlash %></p>
<% } %>	
<div class="tabledata">
<table width='40%' border=3 style="border-collapse: collapse; ">

	<tr style='text-align:left; background-color:#92a8d1'; height=50px>
		<th class="headcol"></th>
		<th>Total</th>
		<% for(var i=41; i<57; i++) {%>
			<th>M<%= i %></th>
		<% } %>	
	</tr>	
	<% if (data) { %>
	<% data.forEach(function(bpl_points){ %>
		<tr>
			<td class="headcol"><%= bpl_points.NAME %></td>
			<td><%= bpl_points.TOTAL_POINTS %></td>
			<td><%= bpl_points.M41 %></td>
			<td><%= bpl_points.M42 %></td>
			<td><%= bpl_points.M43 %></td>
			<td><%= bpl_points.M44 %></td>
			<td><%= bpl_points.M45 %></td>
			<td><%= bpl_points.M46 %></td>
			<td><%= bpl_points.M47 %></td>
			<td><%= bpl_points.M48 %></td>
			<td><%= bpl_points.M49 %></td>
			<td><%= bpl_points.M50 %></td>
			<td><%= bpl_points.M51 %></td>
			<td><%= bpl_points.M52 %></td>
			<td><%= bpl_points.M53 %></td>
			<td><%= bpl_points.M54 %></td>
			<td><%= bpl_points.M55 %></td>
			<td><%= bpl_points.M56 %></td>
		</tr>
	<% }) %>
	<% } %>
</table>
<div>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
