<!--
including header content which is common for all pages
-->
<% if (admin == 'Y') { %>
	<%- include ../layouts/adminheader.ejs %>
<% } else { %>
	<%- include ../layouts/header.ejs %>
<% } %>	

<% if ( expressFlash.length > 0 ) { %>
	<p style="color:green" "font-size:40px"><%- expressFlash %></p>
<% } %>	
<div class="tabledata">
<table width='40%' border=1 style="border-collapse: collapse; ">

	<tr style='text-align:left; background-color:#ff9999'; height=50px>
		<th class="headcol"></th>
		<th>Total</th>
		<% for(var i=1; i<57; i++) {%>
			<th>M<%= i %></th>
		<% } %>	
	</tr>	
	<% if (data) { %>
	<% data.forEach(function(bpl_points){ %>
		<tr>
			<td class="headcol"><%= bpl_points.NAME %></td>
			<td><%= bpl_points.TOTAL_POINTS %></td>
			<td><%= bpl_points.M1 %></td>
			<td><%= bpl_points.M2 %></td>
			<td><%= bpl_points.M3 %></td>
			<td><%= bpl_points.M4 %></td>
			<td><%= bpl_points.M5 %></td>
			<td><%= bpl_points.M6 %></td>
			<td><%= bpl_points.M7 %></td>
			<td><%= bpl_points.M8 %></td>
			<td><%= bpl_points.M9 %></td>
			<td><%= bpl_points.M10 %></td>
			<td><%= bpl_points.M11 %></td>
			<td><%= bpl_points.M12 %></td>
			<td><%= bpl_points.M13 %></td>
			<td><%= bpl_points.M14 %></td>
			<td><%= bpl_points.M15 %></td>
			<td><%= bpl_points.M16 %></td>
			<td><%= bpl_points.M17 %></td>
			<td><%= bpl_points.M18 %></td>
			<td><%= bpl_points.M19 %></td>
			<td><%= bpl_points.M20 %></td>
			<td><%= bpl_points.M21 %></td>
			<td><%= bpl_points.M22 %></td>
			<td><%= bpl_points.M23 %></td>
			<td><%= bpl_points.M24 %></td>
			<td><%= bpl_points.M25 %></td>
			<td><%= bpl_points.M26 %></td>
			<td><%= bpl_points.M27 %></td>
			<td><%= bpl_points.M28 %></td>
			<td><%= bpl_points.M29 %></td>
			<td><%= bpl_points.M30 %></td>
			<td><%= bpl_points.M31 %></td>
			<td><%= bpl_points.M32 %></td>
			<td><%= bpl_points.M33 %></td>
			<td><%= bpl_points.M34 %></td>
			<td><%= bpl_points.M35 %></td>
			<td><%= bpl_points.M36 %></td>
			<td><%= bpl_points.M37 %></td>
			<td><%= bpl_points.M38 %></td>
			<td><%= bpl_points.M39 %></td>
			<td><%= bpl_points.M40 %></td>
			<td><%= bpl_points.M41 %></td>
			<td><%= bpl_points.M42 %></td>
			<td><%= bpl_points.M43 %></td>
			<td><%= bpl_points.M44 %></td>
			<td><%= bpl_points.M45 %></td>
			<td><%= bpl_points.M46 %></td>
			<td><%= bpl_points.M47 %></td>
			<td><%= bpl_points.M48 %></td>
			<td><%= bpl_points.M49 %></td>
			<td><%= bpl_points.M50 %></td>
			<td><%= bpl_points.M51 %></td>
			<td><%= bpl_points.M52 %></td>
			<td><%= bpl_points.M53 %></td>
			<td><%= bpl_points.M54 %></td>
			<td><%= bpl_points.M55 %></td>
			<td><%= bpl_points.M56 %></td>
		</tr>
	<% }) %>
	<% } %>
</table>
<div>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
