<!--
including header content which is common for all pages
-->
<% if (admin == 'Y') { %>
	<%- include ../layouts/adminheader.ejs %>
<% } else { %>
	<%- include ../layouts/header.ejs %>
<% } %>	

<% if ( expressFlash.length > 0 ) { %>
	<p style="color:green; font-size:30px"><%- expressFlash %></p>
	
<% } %>	
<div class="tabledata">
<table width='40%' border=3 style="border-collapse: collapse;">

	<tr style='text-align:left; background-color:#92a8d1'; height=50px>
		<th class="headcol"> </th>
		<% for(var i=26; i<57; i++) {%>
			<th>M<%= i %></th>
		<% } %>
			
		<th >Champion choice 1</th>
		<th >Champion choice 2</th>
		<th >Highest Sixes choice 1</th>
		<th >Highest Sixes choice 2</th>
		<th >Highest runs choice 1</th>
		<th >Highest runs choice 2</th>
		<th >Highest runs choice 3</th>
		<th >Highest wickets choice 1</th>
		<th >Highest wickets choice 2</th>
		<th >Highest wickets choice 3</th>
	</tr>	
	<% if (data) { %>
	<% data.forEach(function(bpl_prediction){ %>
		<tr>
			<td class="headcol"><%= bpl_prediction.NAME %></td>
			<td><%= bpl_prediction.M26 %></td>
			<td><%= bpl_prediction.M27 %></td>
			<td><%= bpl_prediction.M28 %></td>
			<td><%= bpl_prediction.M29 %></td>
			<td><%= bpl_prediction.M30 %></td>
			<td><%= bpl_prediction.M31 %></td>
			<td><%= bpl_prediction.M32 %></td>
			<td><%= bpl_prediction.M33 %></td>
			<td><%= bpl_prediction.M34 %></td>
			<td><%= bpl_prediction.M35 %></td>
			<td><%= bpl_prediction.M36 %></td>
			<td><%= bpl_prediction.M37 %></td>
			<td><%= bpl_prediction.M38 %></td>
			<td><%= bpl_prediction.M39 %></td>
			<td><%= bpl_prediction.M40 %></td>
			<td><%= bpl_prediction.M41 %></td>
			<td><%= bpl_prediction.M42 %></td>
			<td><%= bpl_prediction.M43 %></td>
			<td><%= bpl_prediction.M44 %></td>
			<td><%= bpl_prediction.M45 %></td>
			<td><%= bpl_prediction.M46 %></td>
			<td><%= bpl_prediction.M47 %></td>
			<td><%= bpl_prediction.M48 %></td>
			<td><%= bpl_prediction.M49 %></td>
			<td><%= bpl_prediction.M50 %></td>
			<td><%= bpl_prediction.M51 %></td>
			<td><%= bpl_prediction.M52 %></td>
			<td><%= bpl_prediction.M53 %></td>
			<td><%= bpl_prediction.M54 %></td>
			<td><%= bpl_prediction.M55 %></td>
			<td><%= bpl_prediction.M56 %></td>
			<td><%= bpl_prediction.B1 %></td>
			<td><%= bpl_prediction.B2 %></td>
			<td><%= bpl_prediction.B3 %></td>
			<td><%= bpl_prediction.B4 %></td>
			<td><%= bpl_prediction.B5 %></td>
			<td><%= bpl_prediction.B6 %></td>
			<td><%= bpl_prediction.B7 %></td>
			<td><%= bpl_prediction.B8 %></td>
			<td><%= bpl_prediction.B9 %></td>
			<td><%= bpl_prediction.B10 %></td>
		</tr>
	<% }) %>
	<% } %>
</table>
<div class="tabledata">
<!--including footer content which is common for all pages-->
<%- include ../layouts/footer.ejs %>
