<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<table width='40%' border=1 style="border-collapse: collapse;">

	<tr style='text-align:left; background-color:#92a8d1'; height=50px>
		<th>Match No</th>
		<th>Date</th>
		<th>Description</th>
		<th>Venue</th>
		<th>Winner</th>
	</tr>	
	<% if (data) { %>
	<% data.forEach(function(bpl_match){ %>
		<tr>
			<td><%= bpl_match.id %></td>
			<td><%= bpl_match.date %></td>
			<td><%= bpl_match.description %></td>
			<td><%= bpl_match.venue %></td>
			<%if (bpl_match.freezed != "Y") { %>
				<td>				
					<form role="form" id="createAccountForm" action="/options/update/<%= bpl_match.id %>" method="POST">
						<div class="form-group" id="gender">
							<label class="radio-inline"><input type="radio" name="optradio" checked="checked" value=<%=bpl_match.team1 %>><%=bpl_match.team1 %></label>
							<label class="radio-inline"><input type="radio" name="optradio" value=<%=bpl_match.team2 %>><%=bpl_match.team2 %></label>
							<div>
						<input type="submit" class="btn btn-success"/>
						</div>
						</div>
						
					</form>
				</td>
			<% } else{ %>
			   <td><%= bpl_match.result %></td>	
			<% } %>
			<!--<% if (admin == 'Y') { %>
				<input type="submit" value="Admin" />
			<% } %>-->
		</tr>
	<% }) %>
	<% } %>
</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
